* {
  box-sizing: border-box;
}

html {
  background-color: rgb(102, 179, 102);
}

.store-title {
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid white 1px;
  padding-bottom: 20px;
  letter-spacing: 2px;
  font-family: "Abril Fatface";
}

.item-listings {
  display: flex;
  flex-direction: column;
}

.store-item {
  width: 90%;
  height: 35vh;
  border: solid white 1px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.store-item-img {
  width: 35%;
  border: solid white 1px;
}


.view-details {
  text-decoration: underline;
}

.view-details:hover {
  color: white;
  transition: all, 0.3s;
}

a {
  text-decoration: none;
  color: black;
}

.item-img {
  height: 100%;
  width: 100%;
}

.details-container{
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
}

.item-desc {
  height: 50%;
  font-size: 20px;
  padding: 10px;
  margin: 0 auto;
}

.more-details {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.price {
  width: 33.33%;
  font-size: 50px;
  text-align: center;
  margin: auto auto;
}

.rating {
  /* border: solid white 1px; */
  width: 33.33%;
  font-size: 50px;
  text-align: center;
  margin: auto auto;
}

.stock {
  /* border: solid white 1px; */
  width: 33.33%;
  font-size: 50px;
  text-align: center;
  margin: auto auto;
}

.item-details-container {
  display: flex;
  flex-direction: row;
  border: solid white 1px;
  height: 90vh;
  width: 90vw;
  margin: 50px auto;
}

.detailed-desc {
  font-size: 30px;
  border: solid white 1px;
}

.item-details-container {
  display: flex;
  flex-direction: column;
  border: solid white 1px;
}

.subcontain1 {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.subcontain2 {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.price-detail {
  width: 20%;
  height: 50%;
  font-size: 50px;
  text-align: center;
  border: solid white 1px;
}

.rating-detail {
  width: 20%;
  height: 50%;
  font-size: 50px;
  text-align: center;
  border: solid white 1px;
}

.stock-detail {
  width: 20%;
  height: 50%;
  font-size: 50px;
  text-align: center;
  border: solid white 1px;
}

.purchase {
  width: 40%;
  margin: 0 auto;
  border: solid white 1px;
  text-align: center;
}

.stock-qty {
  text-align: center;
  width: 50px;
  height: 30px;
  font-size: 20px;
}

.buy-now {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.buy-now:hover {
  background-color: aquamarine;
}

.fa-star {
  height: 20px;
  width: 60px;
}